/* header */
.header-color{
    background-color:#121212;
    width: 100%;
    height: 410px;
}
.header-background{
    background-image:url(../images/5ddbb4e7aa687d905e000d5c7243826e.png);
    max-width: 1380px;
    width: 100%;
    height: 524px;
    background-size:cover;
    background-repeat: no-repeat;  
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    box-shadow: 11px 2px 25px 3px rgba(0, 213, 255, 0.048);
    
       
}
.header-background::after{
    content: ' ' ;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 39%;
    display: block;
    border-radius: 25px;
    
} 
.span-class{
     color: #00b5ea ;
  
} 
.logo-size{
    width:25rem;
    /* background-color: white;
    border-radius: 100px; */
    
}
.logo_image{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    padding-top: 153px;
    z-index: 150;
    
}
/* roots */
:root{
    --main-wight: 1088px;
    --third-main-color:#5863F8;
    --second-main-color:#121212;
    --white-color:#fff;
    --input-background:#E8E8E8;
    --input-text-color:#CECECE;
    --main-color:#00b5ea;
}
/* .background-distance{
    padding-top: 50px;
}   */
.title-width{
    max-width: var(--main-wight); 
    width: 100%;         
    left: 50%;
    transform:translateX(-50%);  
    position: absolute;
    z-index: 100;
    padding-top: 7px;
    /* margin-top: 45px; */

}
.body-color{
    background-color: var(--second-main-color);
}
.headerss-sticky{
    position:sticky;
    top: 0;
    z-index: 500;
    margin-top: 87px;
}

.header-color-main{
    background-color: var(--second-main-color); 
}
.title-conteiner{
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
    
  
}
/* .header-background-color{
    background-color: var(--second-main-color);
    position: relative;
    opacity: 10%;
} */
.h1-class{
    font-size: 2rem;
    color: var(--white-color);
    font-family: 'Roboto';
   
}

.ul-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-class{
    display: flex;
    justify-content: space-between;
}
.a-li-class{
    color: var(--white-color);
    padding-left: 64px;
    font-size: 1.1875rem;
    font-family: 'Roboto';
}

/* seecond-section */
.section-background-color{
    background-color: black;
    height: 1500px;
    
}

.section-width{
    max-width: var(--main-wight);
    width: 100%;
    margin: 0 auto;
    padding-top: 190px;
}

.div-item{
    background-color: var(--second-main-color) ;
    width: 21.875rem;
    height: 21.875rem;
    border-radius:11px ;  
    transition: all 0.50s ease-out;
}
.div-item:hover .image-class {
    width: 23.500rem;
}
.div-item:hover .more {
    margin-top: 40px;
    color: black;

}
.div-item:hover .more-a {
    color: black;
    
}

.div-item:hover .text-for-device {
    padding-top: 24px;
    color: black;
    font-size: 1.063rem;
}
.div-item:hover{
    width: 24rem;
    height: 27rem;
    /* background-color: hsl(0, 4%, 11%); */
    background-color: #fff;
    
}
.div-block{
    display: flex;
    justify-content: space-between;
   

}
.image-position{
    position: relative;
    display: inline-block;
    top: 0.5%;
    left: 1%;
    /* right: 0%; */
    

} 
.image-class{
    width: 21.438rem;
    /* position: relative; */
    /* height: 250px; */
    /* display: inline-block; */
    border-radius: 9px;
    box-shadow: 1px 2px 8px 1px black;
    transition: all 0.50s ease-out;

}
/* .image-class:hover{
    width: 23.440rem;
} */
.text-on-image{
    position: absolute;
    color: #fff;
    /* font-family: 'Roboto'; */
    top: 8px;
    left: 15px;
    font-size: 25px;
    opacity: 0.7;
    font-family: 'IBM Plex Sans';
    
}
.text-for-device{
    color: #fff;
    font-size: 14px ;
    font-family: 'Open Sans';
    text-align: center;
    opacity: 93%;
    transition: all 0.50s ease-out;

}
.info-class{
  padding-bottom: 3px;
}
.more{
    padding-top: 35px;
    color: #fff;
    font-size: 18px ;
    font-family: 'Open Sans';
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:baseline;
    transition: all 0.50s ease-out;
}
.more-a{
    color: #fff;
    font-size: 18px ;
    font-family: 'Open Sans';
    text-align: center;
  
}


.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0); 
    height: 1px;
    bottom: 0;
    left: 0;
    margin-top: 2px;
    background-color: var(--main-color);
    transform-origin:  right;  
    transition: transform 0.45s ease-out;
  }
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);  
    transform-origin: bottom left;  
  }




   
/* third-section */
/* .grid-block{
    display: grid;
    grid-template-columns:  auto auto auto auto;
    grid-template-rows: auto;
    background-color: #2196F3;
    padding: 10px;
     gap: 10px; 
    justify-content: space-between;
     
    align-content: space-between;
} */
/*.grid-item3{ 
    background-color: #fff;
    width: 250px;
    height: 250px;
    border: #5863F8 solid; 
     grid-column: 1 / span 2; 
} */
/* .grid-item{
   background-color: #fff;
   width: 250px;
   height: 250px;
   border: #5863F8 solid;
}
*/